@import '../../assets/variables/variables';
@import '../../assets/mixins/mixins';

.OurMission {
    @include flex-cc;
    flex-direction: column;
    
    @media screen and (min-width: $tablet-lg) {
        flex-direction: row;    
        padding-bottom: 100px;
    }
    .wrapperDescription {
        @include flex-sb;
        .missionDescription {
           max-width: 300px;
           text-align: center;
           padding-bottom: 155px;
            @media screen and (min-width: $tablet-lg) {
                align-self: flex-end;
                width: 240px;
                padding-bottom: 0;
            }
            h3 {
                margin-bottom: 10px;
            }
        }
        img {
            display: none;
            width: auto;
            @media screen and (min-width: $tablet-lg) {
               display: block;
               width: 300px;
            }
            @media screen and (min-width: $tablet-lg) {
               width: auto;
               max-width: 400px;
            }
           
        }
    }   
    .corcsImage {
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: -1;
        width: 300px;
        @media screen and (min-width: $tablet-lg) {
            position: static;
            order: -1;
           width: 205px;
            object-fit: contain;
            transform: translateY(190px);
        }
        @media screen and (min-width: $tablet-xlg) {
            width: 100%;
            max-width: 445px;
        }
    }
}

.vintageVineDesc {
    @include flex-col;
     @media screen and (min-width: $tablet-xlg) {
        @include flex-sb;
        flex-direction: row;
        margin-bottom: 0;
     }
    .sectionContent {
        div {
            justify-content: flex-start;
        }
        h3 {
            margin-bottom: 20px;
        }
        .sectionText {
            @include flex-col;
            gap: 15px;
            margin-bottom: 50px;
        }
    }
    .sectionImage {
        display: none;
         min-width: 360px;
         @media screen and (min-width: $tablet-xlg) {
            display: block;  
         }

    }
}

.OurProduction {
    h3 {
        margin-top: 0;
    }
}

.AwardsVineyards {
    position: relative;
  .sectionBgImage {
    position: absolute;
    z-index: -1;
    top: 60px;
    left: 0;
    width: 220px;
    @media screen and (min-width: $tablet) {
       width: 420px;
       top: 0;
       left: -50px;
    }
     @media screen and (min-width: $tablet-lg) {
        top: 0;
        width: 530px;
        }
     @media screen and (min-width: $tablet-xlg) {
        top: 0;
        width: auto;
        }
  }  
  .Vinyards {
    margin-top: 30px;
    .VinyardsContent {
        @include flex-sb;
        align-items: center;
        gap: 10px;
        margin: 0 auto;
        margin-top: 40px;
        @media screen and (min-width: $tablet) {
            gap: 20px;
        }
        @media screen and (min-width: $tablet-lg) {
            max-width: 995px;
             gap: 30px;
         }
        .contentColumn {
            @include flex-sb;
            flex-direction: column;
            &:last-child {
                max-width: 420px;
                gap: 30px;
                @media screen and (min-width: $tablet) {
                    max-width: 52%;
                }
                .desc {
                    @include flex-sb;
                    flex-direction: column;
                    gap: 20px;
                }
                .btnBookTour {
                    @include flex-cc;
                    gap: 8px;
                    align-self: flex-end;
                    font-family: $secondary-font;
                    cursor: pointer;
                    @include transition;
                    &:hover {
                        color: $btn-bg;
                        @include transition;
                    }
                    .Arrow {
                        fill: $btn-bg;
                    }
                }
            }
            h4 {
                align-self: flex-end;
                font-family: $main-font;
                font-size: 20px;
                font-weight: 700;
                @media screen and (min-width: $tablet) {
                   margin-bottom: 100px;
                   font-size: 35px;
                }
                 @media screen and (min-width: $tablet-lg) {
                     font-size: 55px;
                     width: 52%;
                 }
            }
            img {
                display: none;
                 @media screen and (min-width: $tablet) {
                    display: block;
                 }
            }
        }
    }
  }
}