@import "src/assets/variables/variables";
@import "src/assets/mixins/mixins";

.Wrapper {
  margin-bottom: 100px;
  display: grid;
  grid-template-columns: 1fr;
  justify-content: space-between;
  margin-left: 10px;

  @media screen and (min-width: $tablet) {
    grid-template-columns: 1fr 1fr;
    margin-bottom: 150px;
    margin-left: 0;
    justify-items: center;
  }

  @media screen and (min-width: $desktop) {
    display: block;
  }
}

.ItemWrapper {
  margin-bottom: 30px;
  max-width: 300px;
  padding: 10px;
}

.Img {
  max-width: 300px;
  margin-bottom: 15px;
  min-height: 190px;
  max-height: 200px;
}

.Title {
  margin: 10px 0 15px;
  font-size: 20px;
  line-height: 24px;
}

.Description {
  line-height: 18px;
  margin-bottom: 5px;
}

.Link {
  margin-top: 5px;
  font-size: 20px;
  line-height: 24px;
  transition: color 0.3s;

  &:hover {
    color: #e1dede;
  }
}