.Login {
    position: relative;
    width: 100%;
    padding-top: 39px;

    @media screen and (min-width: 480px) {
        max-width: 347px;
    }

    @media screen and (min-width: 768px) {
        max-width: 419px;
    }

    @media screen and (min-width: 1000px) {
        max-width: 496px;
    }
}

.LoginTitle {
    color: #fff;
    text-align: center;
    position: relative;
}

.LoginContainer {
    display: flex;
    justify-content: end;
}

.LoginWrapper {
    width: 100%;
    padding-top: 39px;
    position: relative;

    &::before {
        content: '';
        position: absolute;
        width: 272px;
        height: 409px;
        left: -111px;
        top: 0;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), url('../../assets/images/login-gb.webp') center/cover no-repeat;

        @media screen and (min-width: 480px) {
            left: -34px;
            top: -20px;
        }

        @media screen and (min-width: 768px) {
            width: 407px;
            height: 612px;
            left: -64px;
            top: -92px;
        }

        @media screen and (min-width: 1000px) {
            width: 456px;
            height: 685px;
            left: 0;
            top: -100px;
        }

        @media screen and (min-width: 1440px) {
            width: 624px;
            height: 937px;
            top: -148px;
        }
    }
}