@import "src/assets/variables/variables";
@import "src/assets/mixins/mixins";

.Wrapper {
  display: grid;

  @media screen and (min-width: $tablet-lg) {

  }

  @media screen and (min-width: $desktop) {
    grid-template-columns: 1fr 300px;
    gap: 30px;
  }

  @media screen and (min-width: $desktop-lg) {
    gap: 70px;
  }
}



