@font-face {
  font-family: 'GillSans';
  src: url("./assets/fonts/GillSans.otf");
  font-style: regular;
  font-weight: 400;
}

@font-face {
  font-family: 'GillSans';
  src: url("./assets/fonts/GillSans.otf");
  font-style: regular;
  font-weight: 400;
}

.wrapperSlider .itemSlide {
  height: 300px;
}

@media screen and (min-width: 768px) {
  .wrapperSlider .itemSlide {
    height: 400px;
  }
}

@media screen and (min-width: 1000px) {
  .wrapperSlider .itemSlide {
    height: auto;
  }
}

.wrapperSlider .itemSlide a {
  position: relative;
  display: block;
  height: inherit;
  margin: 0 10px;
}

.wrapperSlider .itemSlide a img {
  object-fit: cover;
  height: 100%;
}

.wrapperSlider .itemSlide a .catalogName {
  position: absolute;
  bottom: 40px;
  right: 30px;
  font-size: 40px;
}

.slickArrows {
  margin-top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  gap: 15px;
}

@media screen and (min-width: 768px) {
  .slickArrows {
    margin-top: 30px;
  }
}

.slickArrows button {
  position: static;
  width: 30px;
  height: 30px;
  transform: translate(0, 0);
  background: #909090;
  border-radius: 100%;
  transition: all .3s ease-in-out;
}

.slickArrows button::before {
  display: none !important;
}

.slickArrows button svg {
  fill: #000;
}

.slickArrows button:hover {
  background: #fff;
  transition: all .3s ease-in-out;
}

.slickArrows button:focus {
  background: #909090;
}

.slickArrows .sliderNavigation {
  position: relative;
  min-width: 35px;
  min-height: 45px;
}

.slickArrows .sliderNavigation::before {
  position: absolute;
  content: '';
  display: block;
  top: 60%;
  transform: translateY(-50%) rotate(-45deg);
  left: 0;
  background: #fff;
  height: 2px;
  border-radius: 2px;
  width: 100%;
  color: #fff;
}

.slickArrows .sliderNavigation .currentIndex {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 30px;
}

.slickArrows .sliderNavigation .lengthOfSlider {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 20px;
  color: #909090;
}

.collectionsWrapperSlider .collectionsSlide {
  position: relative;
  display: flex !important;
  justify-content: flex-end;
}

@media screen and (min-width: 768px) {
  .collectionsWrapperSlider .collectionsSlide {
    justify-content: space-evenly;
  }
}

@media screen and (min-width: 1000px) {
  .collectionsWrapperSlider .collectionsSlide {
    justify-content: flex-end;
  }
}

.collectionsWrapperSlider .collectionsSlide img {
  max-width: 70%;
}

@media screen and (min-width: 768px) {
  .collectionsWrapperSlider .collectionsSlide img {
    max-width: 40%;
  }
}

@media screen and (min-width: 768px) {
  .collectionsWrapperSlider .collectionsSlide img {
    max-width: 70%;
  }
}

@media screen and (min-width: 1000px) {
  .collectionsWrapperSlider .collectionsSlide img {
    max-width: 400px;
    margin-right: 45px;
  }
}

.collectionsWrapperSlider .collectionsSlide .collectionData {
  max-width: 350px;
  position: absolute;
  top: 130px;
  left: 0;
}

@media screen and (min-width: 768px) {
  .collectionsWrapperSlider .collectionsSlide .collectionData {
    left: 18%;
  }
}

.collectionsWrapperSlider .collectionsSlide .collectionData .catalogName {
  font-size: 30px;
  margin-bottom: 15px;
}

@media screen and (min-width: 480px) {
  .collectionsWrapperSlider .collectionsSlide .collectionData .catalogName {
    font-size: 50px;
  }
}

@media screen and (min-width: 1000px) {
  .collectionsWrapperSlider .collectionsSlide .collectionData .catalogName {
    font-size: 100px;
  }
}

.collectionsWrapperSlider .collectionsSlide .collectionData .collectionsDescription {
  font-size: 14px;
}

.collectionsWrapperSlider .collectionsSlide .collectionData .collectionsDescription a {
  font-size: 14px;
  margin-top: 10px;
  margin-left: 0;
}

@media screen and (min-width: 1000px) {
  .collectionsWrapperSlider .collectionsSlide.oddSlide {
    justify-content: flex-start;
  }
  .collectionsWrapperSlider .collectionsSlide.oddSlide .collectionData {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    left: auto;
    right: 0;
  }
}

@media screen and (min-width: 1000px) and (min-width: 1000px) {
  .collectionsWrapperSlider .collectionsSlide.oddSlide .collectionData {
    align-items: flex-end;
  }
}

@media screen and (min-width: 1000px) {
  .collectionsWrapperSlider .collectionsSlide.oddSlide img {
    margin-left: 45px;
  }
}

.singleProductMainSlider {
  width: 100%;
  margin-bottom: 15px;
}

@media screen and (min-width: 480px) {
  .singleProductMainSlider {
    width: 80%;
  }
}

@media screen and (min-width: 1000px) {
  .singleProductMainSlider {
    width: 100%;
  }
}

.singleProductMainSlider .mainSlide {
  width: 100%;
  height: 360px;
}

@media screen and (min-width: 768px) {
  .singleProductMainSlider .mainSlide {
    height: 600px;
  }
}

@media screen and (min-width: 1000px) {
  .singleProductMainSlider .mainSlide {
    height: 760px;
  }
}

.singleProductMainSlider .mainSlide img {
  height: 100%;
  object-fit: cover;
}

.singleProductSecondarySlider {
  width: 73%;
  margin: 0 auto;
}

@media screen and (min-width: 480px) {
  .singleProductSecondarySlider {
    width: 65%;
  }
}

.singleProductSecondarySlider .secondarySlide {
  height: 90px;
  padding: 0 5px;
}

@media screen and (min-width: 768px) {
  .singleProductSecondarySlider .secondarySlide {
    height: 135px;
  }
}

@media screen and (min-width: 1000px) {
  .singleProductSecondarySlider .secondarySlide {
    height: 155px;
  }
}

.singleProductSecondarySlider .secondarySlide img {
  height: 100%;
  object-fit: cover;
}

.singleProductSecondarySlider button::before {
  display: none;
}
