@font-face {
  font-family: 'GillSans';
  src: url("./src/assets/fonts/GillSans.otf");
  font-style: regular;
  font-weight: 400;
}

@font-face {
  font-family: 'GillSans';
  src: url("./src/assets/fonts/GillSans.otf");
  font-style: regular;
  font-weight: 400;
}

.Button, .InCartBtn, .WideButton, .Medium, .SmallAdaptive, .SmallBasket, .Small, .xSmall {
  padding: 4px 35px;
  font-size: 15px;
  line-height: 36px;
  cursor: pointer;
}

.Button:disabled, .InCartBtn:disabled, .WideButton:disabled, .Medium:disabled, .SmallAdaptive:disabled, .SmallBasket:disabled, .Small:disabled, .xSmall:disabled {
  background-color: #909090;
  color: #fff;
  cursor: default;
}

@media screen and (min-width: 480px) {
  .Button, .InCartBtn, .WideButton, .Medium, .SmallAdaptive, .SmallBasket, .Small, .xSmall {
    padding: 9px 52px;
    font-size: 20px;
  }
}

@media screen and (min-width: 1000px) {
  .Button, .InCartBtn, .WideButton, .Medium, .SmallAdaptive, .SmallBasket, .Small, .xSmall {
    padding: 14px 68px;
    font-size: 30px;
    min-width: 218px;
  }
}

.xSmall {
  min-width: 215px;
  padding: 8px 0;
  font-size: 20px;
  line-height: 24px;
}

.Small {
  min-width: 165px;
  padding: 6px 40px;
  font-size: 20px;
}

.SmallBasket {
  padding: 10px;
  font-size: 20px;
}

.SmallAdaptive {
  padding: 11px 36px;
  font-size: 14px;
  line-height: 16px;
}

@media screen and (min-width: 1000px) {
  .SmallAdaptive {
    padding: 11px 40px;
    font-size: 20px;
    line-height: 24px;
  }
}

.Medium {
  font-size: 30px;
  min-width: 218px;
  padding: 12px 35px;
}

.WideButton {
  padding: 12px 27px;
  font-size: 30px;
  min-width: 280px;
}

.BigButton {
  min-width: 305px;
  padding: 21px 0;
  font-size: 30px;
  line-height: 36px;
}

.Primary {
  background-color: #BE0615;
  color: #fff;
}

.Secondary {
  background-color: #fff;
  color: #000;
}

.Transparent {
  background-color: inherit;
  color: #fff;
  padding: 3px 18px;
  min-width: 0;
}

.GrayBtn {
  background-color: inherit;
  color: #909090;
}

.InCartBtn {
  background-color: transparent;
  border: 1px solid #fff;
  color: #BE0615;
}
