@import "src/assets/variables/variables";

.Wrapper {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  column-gap: 20px;

  @media screen and (min-width: $tablet-lg) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 20px;
  }

  @media screen and (min-width: $desktop) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
  }


}

.Item {
  margin-bottom: 70px;
  max-width: 350px;
  position: relative;
  justify-self: center;
  min-height: 635px;

  @media screen and (min-width: $desktop) {
    justify-self: end;
  }
}

.Image {
  max-width: 350px;
  max-height: 350px;
  height: 100%;
  margin-bottom: 10px;
}

.Tags {
  font-size: 12px;
  color: $secondary-color;
  line-height: 14px;
}

.Desc {
  line-height: 18px;
  margin-bottom: 15px;
}

.Title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  @media screen and (min-width: $tablet-lg) {
    font-size: 30px;
    line-height: 36px;
    max-width: 275px;
    margin: 10px 0 5px;
  }
}

.DateWrapper {
  position: absolute;
  top: 10px;
  left: -28px;
  //transform: translateX(-50%);
}

.ButtonSvgWrapper {
  display: flex;
  align-items: end;
  justify-content: space-between;
}

.SvgWrapper {
  display: flex;
}

.Svg {
  margin-left: 10px;
}

.SvgLink {
  margin-top: 4px;
}