@import '../../assets/variables/variables';
@import '../../assets/mixins/mixins';

.ShopFilterBarAllFilter {
   @include flex-ac;
   margin: 0 auto 35px;
   cursor: pointer;

   @media screen and (min-width: $tablet-lg) {
         margin-bottom: 0;
   }

   p {
      font-family: $secondary-font;
      font-weight: 400;
      font-size: 15px;
      margin-right: 10px;
      line-height: normal;
   }
}