@import '../../assets/variables/variables';

.FilterGroup {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 5px 0;
    gap: 24px 10px;
    max-width: 755px;
}

.FilterBlock {
    margin-bottom: 100px;
}

.FilterBody {
    margin: 0 auto;
}

.FilterForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;

    @media screen and (min-width: $desktop) {
        flex-direction: row;
        align-items: flex-end;
        gap: 10px;
    }
}


.FilterConfirm {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 221px;
}