.Cover {
    position: relative;
    img {
        position: absolute;
        top: -15%;
        z-index: 1;
    }
    .wrapperContent {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        position: relative;
        z-index: 10;
        padding: 320px 0 145px;
        h1 {
            width: 62%;
            margin-bottom: 30px;
        }
    }
}
