@import "./../../assets/mixins/mixins";
@import "./../../assets/variables/variables";

.Counter {
    @include flex-cc;
    font-size: 20px;
    font-family: $main-font;
    gap: 12px;

    @media (min-width: $tablet-lg) {
        font-size: 40px;
    }
}

.CountElem {
    font-size: 20px;
    font-family: $main-font;
    @media (min-width: $tablet-lg) {
        font-size: 40px;
    }
    &:not(p) {
        cursor: pointer;
        transition: color 0.4s ease;
        &:hover {
            color: $btn-bg;
        }
    }
}