@import '../../../assets/mixins/mixins';
@import '../../../assets/variables/variables';



.CustomeField {
    display: flex;
    gap: 10px;
    width: 100%;
}

.CustomeFieldInput {
    width: 100%;
}
.CustomFieldBtn {
    padding: 5px;
    width: 180px;
    background: $btn-bg;
    font-size: 24px;
    cursor: pointer;
    @include transition;

    &:hover {
        background: $btn-hover;
    }
}