@font-face {
  font-family: 'Gill Sans';
  src: url("./assets/fonts/Gill Sans.otf");
  font-style: regular;
  font-weight: 400;
}

.Container {
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
}

@media screen and (min-width: 1160px) {
  .Container {
    max-width: 1162px;
    padding: 0;
  }
}
