@import '../../assets/variables/variables';

.ProductCard {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.Img {
  width: 100%;
  height: 100%;
  max-height: 540px;
  @media screen and (max-width: $tablet-lg) {
    object-fit: contain;
  }
}

.Text {
  padding-top: 10px;
  font-size: 30px;
  text-align: center;
  line-height: 36px;
  font-family: $main-font;
  margin-bottom: 10px;

}

.Price {
  font-size: 20px;
  text-align: center;
  line-height: 24px;
  font-family: $main-font;

}

.Wrapper {
  margin-top: auto;
}