@import '../../assets/variables/variables';


.Title {
    font-size: 30px;
    font-weight: 400;
    color: $main-color;

  @media screen and (min-width: $mobile) {
    font-size: 50px;
  }
  @media screen and (min-width: $tablet-lg) {
    font-size: 70px;
  }
}

.LilTitle {
  font-size: 25px;
  font-weight: 400;
  color: $btn-bg;
  @media screen and (min-width: $mobile) {
   font-size: 40px;
  }
}

