@import '../../assets/variables/variables';


.vvSectionTitle {
  font-size: 30px;
  font-weight: 400;
  color: $main-color;


  @media screen and (min-width: $tablet) {
    font-size: 50px;
  }
  @media screen and (min-width: $tablet-xlg) {
    font-size: 70px;
  }
}

.vvSubTitle {
  font-size: 25px;
  font-weight: 400;

  color: $btn-bg;
  @media screen and (min-width: $tablet) {
    font-size: 40px;
  }
}

.vvTitle {
  font-size: 30px;
  line-height: 36px;

  @media screen and (min-width: $tablet-lg) {
    font-size: 50px;
  }

  @media screen and (min-width: $tablet-xlg) {
    font-size: 70px;
  }

  @media screen and (min-width: $desktop) {
    font-size: 90px;
  }

}

.vvBigSubTitle {
    font-size: 30px;
  max-width: 220px;

  @media screen and (min-width: $tablet) {
    font-size: 50px;
  }

  @media screen and (min-width: $desktop) {
    font-size: 100px;
    line-height: 120px;
  }

}

