@import '../../assets/variables/variables';
@import '../../assets/mixins/mixins';
.CatalogList {
    display: grid;
    grid-template-rows: repeat(auto-fill, minmax(0, 1fr));
    grid-template-columns: repeat(1, 1fr);
    @media screen and (min-width: $tablet-lg) {
        grid-template-columns: repeat(2, 1fr);
    }
    @media screen and (min-width: $desktop) {
        grid-template-columns: repeat(3, 1fr);
    }
    .itemCatalog {
        position: relative;
        display: block;
        height: 300px;
        width: 100%;
        justify-self: center;
        @media screen and (min-width: $tablet) {
            width: 85%;
        }
        @media screen and (min-width: $tablet-lg) {
            justify-self: auto;
            width: auto;
        }
        @media screen and (min-width: $tablet-xlg) {
            height: 380px;
        }
        img {
            height: 100%;
            object-fit: cover;
        }
        .itemCatalogTitle {
            font-size: 50px;
            position: absolute;
            top: 30px;
            right: 20px;
            @media screen and (min-width: $tablet-xlg) {
                font-size: 70px;
            }
        }
        &:nth-child(even) {
            .itemCatalogTitle {
                top: auto;
                right: auto;
                left: 20px;
                bottom: 30px;
            }
        }
        @media screen and (min-width: $tablet-lg) {
            &:nth-child(3) {
                grid-row: span 2;
                grid-column: span 2;
                height: 700px;
                .itemCatalogTitle {
                    top: auto;
                    bottom: 30px;
                    right: 20px;
                }
            }
            &:last-child {
                height: 420px;
                grid-column: span 2;
                justify-self: center;
            }
        }
        @media screen and (min-width: $desktop) {
            &:nth-child(3) {
                grid-row: initial;
                grid-column: initial;
                height: 380px;
            }
            &:last-child {
                height: 430px;
                grid-column: initial;
                justify-self: auto;
            }
            &:nth-child(4) {
                grid-row: span 2;
                grid-column: span 2;
                height: 860px;
            }
            &:nth-child(5) {
                 height: 430px;
            }
        }
    }
}
