@import '../../assets/variables/variables';
@import '../../assets/mixins/mixins';

.parent {
  @media screen and (min-width: $tablet-xlg) {
    display: grid;
    align-items: start;
    justify-items: start;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 0;
    margin: 190px auto 0;
  }
  @media screen and (min-width: $desktop) {
    margin: 290px auto 0;
  }
}

.div1 {grid-area: 1 / 2 / 2 / 3;}
.div2 {grid-area: 1 / 1 / 2 / 2;}

.title {
  color: var(--white, $main-color);
  text-align: center;
  @include fonts(30px, $main-font);
}

.titleContainer {
  display: flex;
  position: relative;
  margin: 0 auto;

  @media screen and (min-width: $tablet) {
    max-width: 500px;
  }
  @media screen and (min-width: $tablet-lg) {
    max-width: 700px;
  }
  @media screen and (min-width: $tablet-xlg) {
    max-width: 1050px;
  }
  @media screen and (min-width: $desktop) {
    max-width: 1250px;
  }
}

.textContainer {
  position: relative;
  padding-top: 30px;
  display: inline-block;
  text-align: center;
  margin: 0 auto;
  z-index: 10;

  @media screen and (min-width: $tablet) {
    text-align: left;
    margin: 0;
  }
  @media screen and (min-width: $tablet-lg) {
    padding-top: 75px;
  }
  @media screen and (min-width: $tablet-xlg) {
    padding-top: 93px;
  }
  @media screen and (min-width: $desktop) {
    padding-top: 170px;
  }

  .title {
    position: relative;
    margin: 0 0 15px;

    @media screen and (min-width: $tablet) {
      text-align: left;
    }
    @media screen and (min-width: $tablet-lg) {
      font-size: 40px;
    }
    @media screen and (min-width: $tablet-xlg) {
      font-size: 70px;
    }

    span {
      display: none;

      @media screen and (min-width: $tablet) {
        display: block;
      }
      @media screen and (min-width: $desktop) {
        display: none;
      }
    }
  }

  p {
    color: var(--white, $main-color);
    @include fonts(14px, $secondary-font);

    width: 100%;
    max-width: 360px;

    @media screen and (min-width: $tablet) {
      max-width: 235px;
    }
    @media screen and (min-width: $tablet-lg) {
      max-width: 257px;
      font-size: 16px;
    }
    @media screen and (min-width: $tablet-xlg) {
      max-width: 467px;
    }
    @media screen and (min-width: $desktop) {
      width: 543px;
    }
  }
}

.imgContainer {
  display: none;
  position: absolute;
  right: 0;
  top: 0;

  @media screen and (min-width: $tablet) {
    display: block;
  }

  .img {
    position: relative;
    width: 212px;
    height: 176px;
    top: 0;
    right: 0;
    z-index: 5;
    transition: all 0.5s ease;

    @media screen and (min-width: $tablet-lg) {
      width: 341px;
      height: 283px;
    }
    @media screen and (min-width: $tablet-xlg) {
      width: 434px;
      height: 360px;
    }
    @media screen and (min-width: $desktop) {
      width: 559px;
      height: 464px;
      top: 13px;
    }
  }
}

.divBorder {
  margin: 0 auto;
  width: 219px;
  height: 177px;
  border: 1px solid var(--white, $main-color);
  position: absolute;
  z-index: 1;
  transition: all 0.5s ease;

  @media screen and (min-width: $tablet-lg) {
    width: 352px;
    height: 276px;
  }
  @media screen and (min-width: $tablet-xlg) {
    width: 445px;
    height: 365px;
  }
  @media screen and (min-width: $desktop) {
    width: 559px;
    height: 493px;
  }

  &First {
    top: 13px;
    right: 10px;

    @media screen and (min-width: $tablet-lg) {
      top: 20px;
      right: 5px;
    }
    @media screen and (min-width: $desktop) {
      top: 0;
      right: 35px;
    }
  }

  &Second {
    top: 23px;
    right: 21px;
    z-index: 0;

    @media screen and (min-width: $tablet-lg) {
      top: 35px;
      right: 15px;
    }
    @media screen and (min-width: $desktop) {
      top: 23px;
      right: 15px;
    }
  }
}

.infoContainer {
  @include flex-ac-col-c;
  margin: 30px auto 0;

  @media screen and (min-width: $tablet) {
    margin: 50px auto 0;
  }
  @media screen and (min-width: $tablet-lg) {
    margin: 90px auto 0;
    white-space: nowrap;
  }
  @media screen and (min-width: $tablet-xlg) {
    margin: 0 auto;
  }
}

.titleInformation {
  margin-bottom: 35px;
  font-size: 30px;

  @media screen and (min-width: $tablet-lg) {
    font-size: 40px;
  }
}

.listInfo {
  @include flex-col;

  .listInfoItem {
    @include flex-ac;
    margin-bottom: 30px;
    gap: 20px;
    svg {
      padding: 3px;
      width: 30px;
      height: 30px;
      background: var(--red, $btn-bg);
    }
  }
}

.businessInfo {
  display: flex;
  flex-direction: column;

  @media screen and (min-width: $tablet-lg) {
    flex-direction: row;
    gap: 85px;
  }
  @media screen and (min-width: $tablet-xlg) {
    gap: 40px;
  }
  @media screen and (min-width: $desktop) {
    gap: 125px;
  }
}

.workingHours {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 20px);
  grid-column-gap: 30px;
  grid-row-gap: 5px;
  margin: 20px 0 30px;

  .listHoursItem {
    display: flex;
    margin-bottom: 30px;
    gap: 20px;
    align-items: center;
  }
}

.listSocial {
  @include flex-cc;
  gap: 25px;
  margin: 20px 0 50px;

  .listSocialItem {
    display: flex;
    gap: 20px;
    align-items: center;
  }
}

.form {
  text-align: center;
  width: 100%;

  h3 {
    margin-bottom: 30px;
    font-size: 30px;

    @media screen and (min-width: $tablet-lg) {
      font-size: 40px;
    }
  }
}

.form input:focus {
  outline: none;
}

.form input {
  box-sizing: border-box;
  max-width: 489px;
  width: 100%;
  height: 60px;
  border: 1px solid $main-color;
  margin-bottom: 5px;
  @include fonts (16px, $secondary-font)
}

.form .submit {
  margin: 30px auto 100px;
  @include flex-cc;
  width: 218px;
  height: 60px;
  padding: 0;
  border: none;
  cursor: pointer;
  color: $main-color;
  text-align: center;
  background: $btn-bg;

  @include fonts (30px, $main-font);
}

.error {
  color: $btn-bg;
  font-size: 16px;
  font-weight: bold;
  margin: 10px 0;
}
