@import '../../assets/mixins/mixins';
@import '../../assets/variables/variables';

.LoginForm {    
    @include flex-ac-col-c;
    gap: 11px;
    padding: 26px 36px 31px 40px;
    border: 2px solid $main-color;

    @media screen and (min-width: $tablet-lg) {
        gap: 20px;
    }
}

.LoginInput {
    padding: 16px 19px;
}

.LoginFields {
    width: 100%;
    @include flex-ac-col-c;
    gap: 5px;
}

.LoginError {
    color: $btn-bg;
}

.LoginTitle {
    text-align: center;
    font-size: 20px;
    margin-bottom: 5px;

    @media screen and (min-width: $tablet-lg) {
        font-size: 30px;
    }
}

.LoginOptionText {
    font-size: 13px;
}

.LoginOption {
    cursor: pointer;
    @include transition;
    border-bottom: 1px solid $main-color;
    &:hover {
        color: $btn-bg;
        border-color: $btn-bg;
    }
}