.LoginForm {
    display: flex;
    flex-direction: column;
    gap: 5px;
    text-align: center;
    padding: 26px 36px 31px 40px;
    border: 2px solid #fff;
}

.LoginInput {
    padding: 16px 19px;

    &:last-of-type {
        margin-bottom: 6px;
    }
}

.LoginTitle {
    margin-bottom: 12px;
}