@import '../variables/variables';

@mixin flex-cc {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flex-ac {
    display: flex;
    align-items: center;
}

@mixin flex-jc {
    display: flex;
    justify-content: center;
}

@mixin flex-ac-sb {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@mixin flex-sb {
    display: flex;
    justify-content: space-between;
}

@mixin flex-w {
    flex-wrap: wrap;
}

@mixin flex-column {
    display: flex;
    flex-direction: column;
}

@mixin flex-col {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

@mixin flex-col-c {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@mixin flex-col-c-c {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@mixin flex-col-ac {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@mixin flex-row-c {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

@mixin flex-cc-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@mixin abs-t5 {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

@mixin transition {
    transition: all .3s ease-in-out;
}

@mixin fonts ($size, $family) {
    font-size: $size;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    font-family: $family;
}
