@import '../variables/variables';

@mixin flex-cc {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flex-ac {
    display: flex;
    align-items: center;
}

@mixin flex-ac-sb {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@mixin flex-sb {
    display: flex;
    justify-content: space-between;
}

@mixin flex-w {
    flex-wrap: wrap;
}

@mixin flex-col {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

@mixin flex-col-c {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@mixin flex-row-c {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

@mixin flex-ac-col-c {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@mixin transition {
    transition: all .3s ease-in-out;
}
