@font-face {
  font-family: 'GillSans';
  src: url("./assets/fonts/GillSans.otf");
  font-style: regular;
  font-weight: 400;
}

@font-face {
  font-family: 'GillSans';
  src: url("./assets/fonts/GillSans.otf");
  font-style: regular;
  font-weight: 400;
}

.CombinationFood {
  padding: 0;
  gap: 55px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 50px;
}

@media screen and (min-width: 768px) {
  .CombinationFood {
    margin-bottom: 70px;
  }
}

@media screen and (min-width: 1000px) {
  .CombinationFood {
    margin: 0 auto 70px;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

@media screen and (min-width: 1160px) {
  .CombinationFood {
    width: 100%;
    flex-direction: row;
    gap: 80px;
  }
}

.CombinationFood .deliveryPaymentWrapper {
  width: 100%;
}

.CombinationFood .deliveryPaymentWrapper .deliveryPayment {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 35px;
}

.CombinationFood .deliveryPaymentWrapper .deliveryPayment .title {
  width: 45%;
  font-size: 20px;
}

@media screen and (min-width: 480px) {
  .CombinationFood .deliveryPaymentWrapper .deliveryPayment .title {
    font-size: 30px;
  }
}

@media screen and (min-width: 1000px) {
  .CombinationFood .deliveryPaymentWrapper .deliveryPayment .title {
    font-size: 40px;
    width: 100%;
  }
}

.CombinationFood .deliveryPaymentWrapper .deliveryPayment .text {
  width: 65%;
  font-size: 12px;
}

@media screen and (min-width: 1000px) {
  .CombinationFood .deliveryPaymentWrapper .deliveryPayment .text {
    font-size: 16px;
    width: 100%;
  }
}

.CombinationFood .perfectCombination {
  width: 100%;
  border: 1px solid #fff;
  padding: 35px 10px;
}

@media screen and (min-width: 768px) {
  .CombinationFood .perfectCombination {
    padding: 35px 85px;
  }
}

.CombinationFood .perfectCombination .title {
  font-size: 20px;
  margin-bottom: 35px;
  text-align: center;
}

@media screen and (min-width: 480px) {
  .CombinationFood .perfectCombination .title {
    font-size: 40px;
  }
}

.CombinationFood .perfectCombination .dishes {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
}

@media screen and (min-width: 768px) {
  .CombinationFood .perfectCombination .dishes {
    gap: 30px;
  }
}

.CombinationFood .perfectCombination .dishes .dish {
  text-align: center;
}

.CombinationFood .perfectCombination .dishes .dish p {
  font-size: 12px;
}

@media screen and (min-width: 480px) {
  .CombinationFood .perfectCombination .dishes .dish p {
    font-size: 16px;
  }
}

.CombinationFood .perfectCombination .dishes .dish img {
  height: 60px;
  width: 60px;
  object-fit: cover;
  margin-bottom: 15px;
}

@media screen and (min-width: 768px) {
  .CombinationFood .perfectCombination .dishes .dish img {
    height: 86px;
    width: 86px;
  }
}
