@import '../../assets/variables/variables';
@import '../../assets/mixins/mixins';

.ShopContainer {
    width: 100%;
    height: auto;
    @include flex-cc-col;
    color: $main-color;
    font-weight: 400;
    margin-bottom: 40px;
    padding: 0 10px;
}

.ShopImagesContainer {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 0 10px;
    max-width: 1200px;

    @media screen and (min-width: $tablet) {
        gap: 10px;
    }
}

.ShopImagesSection {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-template-rows: 445px 310px;
    gap: 5px;

    @media screen and (min-width: $tablet) {
        grid-template-rows: 502px 410px;
        gap: 10px;
    }

    @media screen and (min-width: $tablet-lg) {
        grid-template-columns: 385px auto;

        grid-template-rows: 502px;
    }

    @media screen and (min-width: $tablet-xlg) {
        grid-template-columns: 535px auto;
        grid-template-rows: 680px;
    }

    @media screen and (min-width: $desktop-lg) {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 755px;
    }
}

.ShopImagesSmall {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(2, calc(50% - 2px));
    gap: 5px;

    @media screen and (min-width: $tablet) {
        grid-template-rows: repeat(2, calc(50% - 5px));
        gap: 10px;
    }

    @media screen and (min-width: $tablet-lg) {
        grid-template-columns: 1fr;
    }

    @media screen and (min-width: $desktop) {
        grid-template-columns: 1fr 1fr;
    }
}

//


.Pagination {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-top: 30px;
}

.ControleBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
}

.PageBtn {
    display: inline-block;
    padding: 5px 8px;
    border: 1px solid #CCC;
    cursor: pointer;
}

.ActiveBtn {
    border: 1px solid red;
    color: red;
}