@import '../../assets/variables/variables';
@import '../../assets/mixins/mixins';

.ShopContainer {
    width: 100%;
    height: auto;
    @include flex-cc-col;
    color: $main-color;
    font-weight: 400;
    margin-bottom: 40px;
    padding: 0 10px;

    @media screen and (min-width: $mobile) {
        .ShopParagraph {
            width: 185px;
            height: 61px;
            font-family: $main-font;
            font-weight: 400;
            font-size: 48px;
            line-height: normal;
            text-align: center;
        }

        .ShopBreadCrumbs {
            width: auto;
            height: 63px;
            margin-bottom: 30px;
        }

        .ShopFilterBarItems {
            display: none;
        }
    }

    @media screen and (min-width: $tablet) {
        .ShopParagraph {
            width: 195px;
            height: 61px;
            font-family: $main-font;
            font-weight: 400;
            font-size: 50px;
            line-height: normal;
            text-align: center;
            margin-top: 81px;
        }

        .ShopBreadCrumbs {
            width: auto;
            height: 63px;
            margin-bottom: 30px;
        }

        .ShopFilterBarItems {
            display: none;
        }
    }

    @media screen and (min-width: $tablet-lg) {
        .ShopParagraph {
            width: 280px;
            height: 85px;
            font-family: $main-font;
            font-weight: 400;
            font-size: 70px;
            line-height: normal;
            text-align: center;
            margin-top: 74px;
            line-height: normal;
            font-style: normal;
        }

        .ShopBreadCrumbs {
            width: auto;
            height: 63px;
            margin-bottom: 30px;
        }

        .ShopFilterBar {
            width: 95%;
            height: auto;
            @include flex-ac-sb;
            margin-bottom: 75px;
        }

        .ShopFilterBarItems {
            width: 58%;
            @include flex-ac-sb;
            padding: 1px;

            li {
                color: $main-color;
                @include fonts(16px, $secondary-font);
                position: relative;

                &:hover {
                    &::after {
                        content: url("./icons/Shophover.svg");
                        position: absolute;
                        bottom: 90%;
                        left: 14%;
                        display: inline-block;
                    }

                    &::before {
                        content: url("./icons/Shophover.svg");
                        position: absolute;
                        top: 90%;
                        left: 14%;
                        display: inline-block;
                    }
                }
            }
        }
    }

    @media screen and (min-width: $tablet-xlg) {
        .ShopParagraph {
            margin-top: 100px;
        }

        .ShopBreadCrumbs {
            margin-bottom: 71px;
        }

        .ShopFilterBar {
            width: 70%;
        }
    }

    @media screen and (min-width: $desktop) {
        .ShopParagraph {
            margin-top: 100px;
        }

        .ShopBreadCrumbs {
            margin-bottom: 71px;
        }

        .ShopFilterBar {
            width: 690px;
        }
    }
}


.ShopImagesContainer {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 0 10px;
    max-width: 1200px;
}

.ShopImagesSection {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    gap: 5px;

    @media screen and (min-width: $tablet-lg) {
        grid-template-columns: 2fr 1fr;

        grid-template-rows: 502px;
    }

    @media screen and (min-width: $tablet-xlg) {
        grid-template-rows: 680px;
    }

    @media screen and (min-width: $desktop) {
        grid-template-columns: 3fr 2fr;
        grid-template-rows: 755px;
    }
}

.ShopImagesSectionBigImage {
    grid-column: 1 / 3;

    @media screen and (min-width: $tablet-lg) {
        grid-column: unset
    }
}

.ShopImagesSmall {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50% 49%;
    gap: 5px;

    @media screen and (min-width: $tablet-lg) {
        grid-template-columns: 1fr;
    }

    
    @media screen and (min-width: $desktop) {
        grid-template-columns: 1fr 1fr;
    }
}