@import '../../assets/variables/variables';
@import '../../assets/mixins/mixins';

.ShopContainer {
    width: 100%;
    height: auto;
    @include flex-cc-col;
    color: $main-color;
    font-weight: 400;
    margin-bottom: 40px;
    
    @media screen and (min-width: $mobile) {
        .ShopParagraph {
            width: 185px;
            height: 61px;
            font-family: $main-font;
            font-weight: 400;
            font-size: 48px;
            line-height: normal;
            text-align: center;
        }
        .ShopBreadCrumbs {
            width: auto;
            height: 63px;
            margin-bottom: 30px;
        }
        .ShopFilterBarItems  {
            display: none;
        }
        .ShopImagesContainer {
            display: flex;
            flex-direction: column;
            padding-left: 10px;
            padding-right: 10px;
        }    
        .ShopImagesSectionBigImage {
            position: relative;
            span {
                width: 340px;
                height: 446px;
                position: relative;
                
            }
            
            span img {
                width: 100%;
                height: 100%;
                object-fit: inherit;
            }

            .ProductInfoBigImage {
                background-color: rgba(62, 58, 58, 0.5);  
                transition: opacity 0.3s ease;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                width: 100%;
                height: 100%;
                text-align: center;
                position: absolute;
                top: 0;
                left: 0;
                z-index: 1000;
                h3 {
                    font-family: $main-font;
                    font-size: 50px;
                    font-weight: 600;
                    opacity: 1;
                }
                h4 {
                    font-family: $main-font;
                    font-size: 50px;
                    font-weight: 600;
                    opacity: 1;
                }
            } 
        }
        .ShopImagesSection {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
        .ShopImagesSmall {
            width: 315px;
            height: 315px;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            column-gap: 5px;
            span {
                width: 150px;
                height: 150px;
            }

            span img {
                width: 100%;
                height: 100%;
                object-fit: inherit;
            }

            .SmallProductContainer {
                position: relative;
            }

            .ProductInfoOverlay {
                background-color: rgba(62, 58, 58, 0.5);  
                transition: opacity 0.3s ease;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                width: 100%;
                height: 100%;
                text-align: center;
                position: absolute;
                top: 0;
                left: 0;
                z-index: 1000;
                button {
                    width: 100%;
                }
            }
        }         
    }
    
    @media screen and (min-width: $tablet) {
        .ShopParagraph {
            width: 195px;
            height: 61px;
            font-family: $main-font;
            font-weight: 400;
            font-size: 50px;
            line-height: normal;
            text-align: center;
            margin-top: 81px;
        }
        .ShopBreadCrumbs {
            width: auto;
            height: 63px;
            margin-bottom: 30px;
        }
        .ShopFilterBarItems  {
            display: none;
        }
        .ShopImagesContainer {
            display: flex;
            flex-direction: column;
            padding-left: 48px;
            padding-right: 48px;
        }    
        .ShopImagesSectionBigImage {
            span {
                width: 383px;
                height: 502px;
                position: relative;
            }
            
            span img {
                width: 100%;
                height: 100%;
                object-fit: inherit;
            }
        }
        .ShopImagesSection {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
        .ShopImagesSmall {
            width: 420px;
            height: 420px;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            column-gap: 19px;
            span {
                width: 200px;
                height: 200px;
                position: relative;
            }
            span img {
                width: 100%;
                height: 100%;
                object-fit: inherit;
            }
        }
        .ProductInfoOverlay {
            button {
                width: 101%;
            }
        }
    }

    @media screen and (min-width: $tablet-lg) {
        .ShopParagraph {
            width: 280px;
            height: 85px;
            font-family: $main-font;
            font-weight: 400;
            font-size: 70px;
            line-height: normal;
            text-align: center;
            margin-top: 74px;
            line-height: normal;
            font-style: normal;
        }

        .ShopBreadCrumbs {
            width: auto;
            height: 63px;
            margin-bottom: 30px;
        }
        .ShopFilterBar {
            width: 95%;
            height: auto;
            @include flex-ac-sb;
            margin-bottom: 75px;
        }

        .ShopFilterBarItems {
            width: 58%;
            @include flex-ac-sb;
            padding: 1px;
            li {
                color: $main-color;
                @include fonts(16px, $secondary-font);
                position: relative;
                
                &:hover {
                    &::after {
                        content: url("./icons/Shophover.svg");
                        position: absolute;
                        bottom: 90%;
                        left: 14%;
                        display: inline-block;
                    } 
                    &::before {
                        content: url("./icons/Shophover.svg");
                        position: absolute;
                        top: 90%;
                        left: 14%;
                        display: inline-block;
                    } 
                }
            }
        }
        .ShopImagesContainer {
            width: 100%;
            display: flex;
            flex-direction: column;
            padding-left: 0;
            padding-right: 0;
            margin-bottom: 80px;
            & > :nth-child(even) {
                flex-direction: row-reverse;
              }
        }
        .ShopImagesSection {
            width: 100%;
            display: flex;
            flex-direction: row;
            column-gap: 16px;
            margin-bottom: 10px;
        }
        .ShopImagesSectionBigImage {
            span {
                width: 383px;
                height: 502px;
                position: relative;
            }
            span img {
                width: 100%;
                height: 100%;
                object-fit: inherit;
            }
        }
        .ShopImagesSmall {
            display: flex;
            flex-direction: row;
            row-gap: 7px;
            width: 32%;
            height: 504px;
            position: relative;
            
            .SmallProductContainer {
                width: 95%;
                height: 49%;
                &:nth-last-child(-n + 2) {
                    display: none;
                  }
                
                span {
                    width: 100%;
                    height: 100%;     
                }
                span img {
                    width: 100%;
                    height: 100%;
                    overflow: hidden;
                }
            }
 
        }
        .ProductInfoOverlay {
 
            button {
                width: 75%;
            }
        }
    }

    @media screen and (min-width: $tablet-xlg) {
        .ShopParagraph {
            margin-top: 100px;
        }
        .ShopBreadCrumbs {
            margin-bottom: 71px;
        }
        .ShopFilterBar {
            width: 70%;
        }
        .ShopImagesContainer {
            width: 90%;
            display: flex;
            flex-direction: column;
            padding-left: 0;
            padding-right: 0;
            margin-bottom: 80px;
            & > :nth-child(even) {
                flex-direction: row-reverse;
              }
        }
        .ShopImagesSection {
            width: 100%;
            display: flex;
            flex-direction: row;
            column-gap: 17px;
            margin-bottom: 5px;
        }
        .ShopImagesSectionBigImage {
            span {
                width: 535px;
                height: 680px;
                position: relative;
            }
            span img {
                width: 100%;
                height: 100%;
                object-fit: inherit;
            }
        }
        .ShopImagesSmall {
            display: flex;
            flex-direction: row;
            row-gap: 7px;
            width: 32%;
            height: 682px;
            position: relative;
            
            .SmallProductContainer {
                width: 95%;
                height: 49%;
                &:nth-last-child(-n + 2) {
                    display: none;
                  }
                
                span {
                    width: 100%;
                    height: 100%; 
                    overflow: hidden;   
                }
                 img {
                    width: 100%;
                    height: 100%;
                    object-fit: inherit;
                }
            }
        }
    }
    
    @media screen and (min-width: $desktop) {
        .ShopParagraph {
            margin-top: 100px;
        }
        .ShopBreadCrumbs {
            margin-bottom: 71px;
        }
        .ShopFilterBar {
            width: 690px;
        }   
        .ShopImagesContainer {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 98%;
            & > :nth-child(even) {
                flex-direction: row-reverse;
                max-width: 1200px;
              }
        }    
        .ShopImagesSectionBigImage {
            span {
                width: 595px;
                height: 755px;
                position: relative;
            }
            span img {
                width: 100%;
                height: 100%;
                object-fit: inherit;
            }
        }
        .ShopImagesSection {
            display: flex;
            justify-content: flex-start;
            max-width: 1200px;
            column-gap: 5px;
        }
        .ShopImagesSmall {
            flex-direction: column;
            position: relative;
            width: 50%;
            column-gap: 1px;
            height: 760px;
            .SmallProductContainer {
                width: 295px;
                height: 374px;
                &:nth-last-child(-n + 2) {
                    display: block;
                  }
                
                span {
                    width: 100%;
                }
                 img {
                    width: 100%;
                }
            }
        }
    } 
     
}

           







