@import '../../assets/variables/variables';
@import '../../assets/mixins/mixins';

.ShopContainer {
    width: 100%;
    height: auto;
    @include flex-cc-col;
    color: $main-color;
    font-weight: 400;
    margin-bottom: 40px;
    padding: 0 10px;

    @media screen and (min-width: $mobile) {
        .ShopParagraph {
            width: 185px;
            height: 61px;
            font-family: $main-font;
            font-weight: 400;
            font-size: 48px;
            line-height: normal;
            text-align: center;
        }
    }

    @media screen and (min-width: $tablet) {
        .ShopParagraph {
            width: 195px;
            height: 61px;
            font-family: $main-font;
            font-weight: 400;
            font-size: 50px;
            line-height: normal;
            text-align: center;
            margin-top: 81px;
        }
    }

    @media screen and (min-width: $tablet-lg) {
        .ShopParagraph {
            width: 280px;
            height: 85px;
            font-family: $main-font;
            font-weight: 400;
            font-size: 70px;
            line-height: normal;
            text-align: center;
            margin-top: 74px;
            line-height: normal;
            font-style: normal;
        }

    }

    @media screen and (min-width: $tablet-xlg) {
        .ShopParagraph {
            margin-top: 100px;
        }
    }

    @media screen and (min-width: $desktop) {
        .ShopParagraph {
            margin-top: 100px;
        }
    }
}

.ShopFilterBarItems {
    width: 58%;
    @include flex-ac-sb;
    padding: 1px;

    li {
        color: $main-color;
        @include fonts(16px, $secondary-font);
        position: relative;

        &:hover {
            &::after {
                content: url("./icons/Shophover.svg");
                position: absolute;
                bottom: 90%;
                left: 14%;
                display: inline-block;
            }

            &::before {
                content: url("./icons/Shophover.svg");
                position: absolute;
                top: 90%;
                left: 14%;
                display: inline-block;
            }
        }
    }
}

.ShopFilterBar {
    max-width: 580px;
    width: 100%;
    height: auto;
    @include flex-ac-sb;
    margin-bottom: 75px;

    @media screen and (min-width: $tablet-xlg) {
        max-width: 710px;
    }
}


.ShopImagesContainer {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 0 10px;
    max-width: 1200px;

    @media screen and (min-width: $tablet) {
        gap: 10px;
    }
}

.ShopImagesSection {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-template-rows: 445px 310px;
    gap: 5px;

    @media screen and (min-width: $tablet) {
        grid-template-rows: 502px 410px;
        gap: 10px;
    }

    @media screen and (min-width: $tablet-lg) {
        grid-template-columns: 385px auto;

        grid-template-rows: 502px;
    }

    @media screen and (min-width: $tablet-xlg) {
        grid-template-columns: 535px auto;
        grid-template-rows: 680px;
    }

    @media screen and (min-width: $desktop-lg) {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 755px;
    }
}

.ShopImagesSmall {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(2, calc(50% - 2px));
    gap: 5px;

    @media screen and (min-width: $tablet) {
        grid-template-rows: repeat(2, calc(50% - 5px));
        gap: 10px;
    }

    @media screen and (min-width: $tablet-lg) {
        grid-template-columns: 1fr;
    }

    @media screen and (min-width: $desktop) {
        grid-template-columns: 1fr 1fr;
    }
}