@import '../../assets/mixins/mixins';
@import '../../assets/variables/variables';

.Excursions {
    position: relative;

    &::after {

        @media screen and (min-width: $tablet-lg) {
            position: absolute;
            content: '';
            top: 40%;
            right: -20px;
            height: 387px;
            width: 228px;
            background: url('imageProject/excursions/glass.png') center/cover no-repeat;
        }

        @media screen and (min-width: $tablet-xlg) {
            top: 0;
            height: 723px;
            width: 425px;
        }

        @media screen and (min-width: $desktop) {
            top: -15%;
            height: 839px;
            width: 493px;
        }

        @media screen and (min-width: $desktop-lg) {
            top: 0;
            width: 743px;
            height: 1265px;
        }
    }
}

.ExcursionsWrapper {
    display: flex;
    flex-direction: column;
    max-width: 980px;
    gap: 40px;
    position: relative;
    z-index: 1;
}

.ExcursionsBtn {
    text-align: center;
    margin-top: 40px;
    position: relative;
    z-index: 1;

    @media screen and (min-width: $tablet-lg) {

        margin-top: 25px;
        text-align: end;
    }
}