@font-face {
    font-family: 'GillSans';
    src: url('./src/assets/fonts/GillSans.otf');
    font-style: regular;
    font-weight: 400;
}

$main-font: 'Cormorant Infant', serif;
$secondary-font: 'GillSans', serif;


$main-color: #fff;
$black-color: #000;
$secondary-color: #909090;

$main-bg: #000;
$btn-bg: #BE0615;

$mobile: 360px;
$tablet: 480px;
$tablet-lg: 768px;
$tablet-xlg: 1000px;
$desktop: 1160px;