@font-face {
    font-family: 'Gill Sans';
    src: url('./assets/fonts/Gill Sans.otf');
    font-style: regular;
    font-weight: 400;
}

$main-font: 'Cormorant Infant', serif;
$secondary-font: 'Gill Sans', serif;


$main-color: #fff;
$secondary-color: #909090;

$main-bg: #101010;
$btn-bg: #BE0615;

// $mobile: 480px;
// $tablet: 768px;
// $tablet-lg: 1000px;
// $desktop: 1440px;

$mobile: 340px;
$tablet: 460px;
$tablet-lg: 640px;
$tablet-xlg: 960px;
$desktop: 1160px;