@import '../../assets/variables/variables';
@import '../../assets/mixins/mixins';

.Header {
    padding-top: 4px;
    width: 100%;
    position: relative;
    z-index: 20;
    @media screen and (min-width: $mobile) {
        padding-top: 8px;
    }

    @media screen and (min-width: $tablet-lg) {
        padding-top: 16px;
    }

    @media screen and (min-width: $desktop) {
        padding-top: 24px;
    }
}

.HeaderBody {
    @include flex-sb;
    align-items: end;
}

.HeaderLogo {
    width: 111px;
    height: 49px;

    @media screen and (min-width: $tablet) {
        width: 184px;
        height: 81px;
    }

    @media screen and (min-width: $desktop) {
        width: 276px;
        height: 121px;
    }
}

.HeaderWidgets {
    @include flex-ac;
    gap: 28px;

    @media screen and (min-width: $tablet) {
        padding-bottom: 16px;
    }

    @media screen and (min-width: $desktop) {
        margin-left: 83px;
        padding-bottom: 30px;
    }
}

.HeaderWidgetsGroup {
    @include flex-ac;
    gap: 20px;
}

.HeaderCart {
    position: relative;
    .Counter {
        position: absolute;
        top: -8px;
        right: -10px;
        min-width: 17px;
        min-height: 17px;
        padding: 2px;
        @include flex-cc;
        border-radius: 8px; 
        font-family: $secondary-font;
        background: $btn-bg; 
        color: $main-color;
        font-size: 12px;
        font-weight: 400;
        line-height: 1; 
    }
}