@import '../../assets/variables/variables';


.SearchWrapper {
  max-width: 800px;
}

.SearchImg {
  background-image: url('../../../public/imageProject/search/search-img.png');
  background-repeat: no-repeat;
  background-position: top right;
  max-width: 1500px;
  margin-inline: auto ;
  min-height: 800px;
  background-size: contain;

  @media screen and (max-width: $tablet) {
    min-height: 600px;
    background-size: cover;
  }

}


