@import '../../assets/variables/variables';


.SearchWrapper {
  max-width: 800px;
}

.SearchImg {
  background-image: url('../../../public/imageProject/search/search-img.png');
  background-repeat: no-repeat;
  background-position: top right;
  max-width: 1500px;
  margin-inline: auto;
  min-height: 800px;
  background-size: contain;

  @media screen and (max-width: $tablet) {
    min-height: 600px;
    background-size: cover;
  }
}

.ProductWrapper {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 20px;
  padding-bottom: 10px;

  @media screen and (min-width: $tablet) {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
    padding-bottom: 10px;
  }

  @media screen and (min-width: $tablet-lg) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    padding-bottom: 10px;
  }
}


