@import '../../../../assets/mixins/mixins';
@import '../../../../assets/variables/variables';

.BarCharts {
    grid-column: 1 / 3;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid white;
    padding-bottom: 80px;
}

.BarChartsItem {
    display: flex;
    justify-content: center;
    width: 400px;
    height: 200px;
    margin-bottom: 50px;

    &:last-of-type {
        margin-bottom: 0;
    }
}

.BarChartsHeading {
    font-size: 30px;
    margin-bottom: 15px;
}

.BarChartsList {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.BarChartsRow {
    display: flex;
    gap: 10px;
    @include fonts(16px, $secondary-font);

    span {
        &:last-of-type {
            color: $btn-bg;
            font-size: 18px;
        }
    }
}