@font-face {
  font-family: 'GillSans';
  src: url("./src/assets/fonts/GillSans.otf");
  font-style: regular;
  font-weight: 400;
}

.Overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 200;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(5px);
}

.Overlay.show {
  animation-name: fadeInAnimation;
  animation-duration: 0s;
  animation-timing-function: ease-in;
  animation-fill-mode: both;
  animation-delay: 0.3s;
}

@keyframes fadeInAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.Overlay.hide {
  animation-name: fadeOutAnimation;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: both;
}

@keyframes fadeOutAnimation {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
