@import '../../assets/mixins/_mixins.scss';

.Overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 200;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(5px);
}
.Overlay.show {
    @include fadeIn(0s, 0.3s);
}
.Overlay.hide {
    @include fadeOut(1s);
}
