@font-face {
  font-family: 'GillSans';
  src: url("./assets/fonts/GillSans.otf");
  font-style: regular;
  font-weight: 400;
}

@font-face {
  font-family: 'GillSans';
  src: url("./assets/fonts/GillSans.otf");
  font-style: regular;
  font-weight: 400;
}

.AboutProduct {
  display: flex;
  justify-content: space-between;
  gap: 45px;
}

.AboutProduct img {
  width: 100%;
}

.AboutProduct img:first-child {
  display: none;
}

@media screen and (min-width: 1000px) {
  .AboutProduct img:first-child {
    display: block;
  }
}

.AboutProduct .content {
  width: 100%;
}

.AboutProduct .content p {
  margin-bottom: 20px;
}

.AboutProduct .content ul {
  font-family: "GillSans", serif;
  margin-bottom: 40px;
}

.AboutProduct .content ul h6 {
  margin: 20px auto;
  font-size: 16px;
}

.AboutProduct .content ul li {
  margin-bottom: 35px;
  font-size: 14px;
  display: flex;
  justify-content: space-between;
}

@media screen and (min-width: 480px) {
  .AboutProduct .content ul li {
    margin-left: 30px;
  }
}

.AboutProduct .content ul li span {
  margin-right: 15px;
  display: block;
}
