@import '../../../assets/mixins/mixins';
@import '../../../assets/variables/variables';

.CartModal {
    max-width: 70%;
    background: rgba(0, 0, 0, 0.8);
    padding: 40px;
}

.CartModalText {
    text-align: center;
    margin: 0 auto 30px;
    max-width: 80%;
    font-size: 22px;
}

.CartModalLabel {
    margin-bottom: 10px;
    @include fonts(21px, $secondary-font);
}

.CartModalList {
    margin-bottom: 20px;
}

.CartModalItem {
    display: flex;
    justify-content: space-between;
    padding: 10px 40px;
}

.CartModalBtns {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.CartModalHeader {
    @include fonts(18px, $secondary-font);
}

.CartModalContent {
    margin-bottom: 40px;
}


.CartModalTable {
    border: $brd-white;
    max-width: 80%;
    margin: 0 auto;
}