@font-face {
  font-family: 'Gill Sans';
  src: url("./assets/fonts/Gill Sans.otf");
  font-style: regular;
  font-weight: 400;
}

@font-face {
  font-family: 'Gill Sans';
  src: url("./assets/fonts/Gill Sans.otf");
  font-style: regular;
  font-weight: 400;
}

.breadcrumbs {
  margin: 20px 0 40px;
  justify-content: center;
  font-family: "Gill Sans", serif;
}

@media screen and (min-width: 640px) {
  .breadcrumbs {
    margin: 40px 0 70px;
  }
}

.breadcrumbs a:hover {
  transition: all .3s ease-in-out;
  color: #BE0615;
}

.breadcrumbs,
a {
  display: flex;
  align-items: center;
  gap: 20px;
  color: #fff;
  transition: all .3s ease-in-out;
}

.breadcrumbs a,
.breadcrumbs span,
a a,
a span {
  text-transform: capitalize;
}

.breadcrumbs span.currentPage,
a span.currentPage {
  font-weight: 700;
  color: #BE0615;
}
