@font-face {
  font-family: 'GillSans';
  src: url("./assets/fonts/GillSans.otf");
  font-style: regular;
  font-weight: 400;
}

@font-face {
  font-family: 'GillSans';
  src: url("./assets/fonts/GillSans.otf");
  font-style: regular;
  font-weight: 400;
}

.breadcrumbs {
  margin: 20px 0 40px;
  justify-content: center;
  font-family: "GillSans", serif;
  flex-wrap: wrap;
  font-size: 14px;
}

@media screen and (min-width: 768px) {
  .breadcrumbs {
    margin: 40px 0 70px;
  }
}

.breadcrumbs a:hover {
  transition: all .3s ease-in-out;
  color: #BE0615;
}

.breadcrumbs,
a {
  display: flex;
  align-items: center;
  gap: 5px;
  color: #fff;
  transition: all .3s ease-in-out;
}

.breadcrumbs a,
.breadcrumbs span,
a a,
a span {
  text-transform: capitalize;
}

.breadcrumbs span.currentPage,
a span.currentPage {
  font-weight: 700;
  color: #BE0615;
}
