@import '../../../assets/variables/variables';
@import '../../../assets/mixins/mixins';

.DashboardNav {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.DashboardNavItem {
    border-radius: 7px 0px 0px 7px;
    padding: 10px 0px 10px 16px;
    @include transition;

    &:hover {
        background-color: #212121;
    }

    a {
        display: flex;
        align-items: center;
        gap: 10px;
        @include fonts(16px, $secondary-font);
        width: 224px;
        font-weight: 600;
        padding: 12px 16px;
        border-radius: 4px;
    }
}

.DashboardNavItemActive {

    background: var(--light-mode-gray-90212121, #212121);

    a {
        background: $btn-bg;
    }
}