@import './assets/variables/variables';
@import './assets/mixins/mixins';

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    width: 100%;
    height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 400;
}

button {
    color: inherit;
    outline: none;
    border: none;
    background: none;
    font-family: inherit;
    font-weight: 400;
    line-height: 1.12;
    font-size: 16px;
}

html,
body {
    font-family: $main-font;
    color: $main-color;
    background: $main-bg;
}

p {
    font-family: $secondary-font;
    font-size: 16px;
}

section {
    margin-bottom: 60px;
    position: relative;
    z-index: 10;

    @media screen and (min-width: $tablet) {
        margin-bottom: 50px;
    }

    @media screen and (min-width: $tablet-lg) {
        margin-bottom: 70px;
    }

    @media screen and (min-width: $tablet-xlg) {
        margin-bottom: 100px;
    }
}

input {
    font-family: $secondary-font;
    outline: none;
    color: $main-color;
    border: $brd-white;
    padding: 22px 0 22px 20px;
    background: none;
    width: 100%;
}

::placeholder {
    color: $main-color;
}

#root {
    overflow: hidden;
}

.vvMainBtn,
.vvReadBtn {
    display: inline-block;
    font-size: 30px;
    background: $btn-bg;
    padding: 15px 80px;
    cursor: pointer;
    @include transition;
}

.vvReadBtn {
    padding: 10px 40px;
    font-size: 20px;
}

.vvReadMore {
    font-family: $secondary-font;
    color: $btn-bg;
}

.vvPageTitle {
    font-size: 70px;
    margin: 70px auto 30px;
    text-align: center;
}

.vvWrapperTitle {
    @include flex-cc;

    .vvSectionTitle {
        font-size: 70px;
        margin-bottom: 60px;

        .vvSubTitle {
            display: block;
            text-align: left;
            text-transform: capitalize;
            font-size: 40px;
            color: $btn-bg;
        }
    }
}

.react-datepicker-wrapper,
.react-datepicker__input-container .react-datepicker__input-container input {
    display: block;
}